################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MywebApp/MywebApp/bin/Debug/net8.0
/MywebApp/MywebApp/obj
/MywebApp/.vs/MywebApp
